# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/

# MLflow artifacts
mlruns/

# Model checkpoints
models/
*.pkl
*.joblib

# Data
data/raw/*.csv
data/processed/
data/inference/

postprocessing/

# OS files
.DS_Store

# Logs
logs/
*.log
